body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Basic styling for the board and cells */
#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

/* Add some spacing between the cells and rounded corners */
.cell {
    padding: 2px;
    border-radius: 5px;
    color: rgb(17, 17, 17);
    font-size: 3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add a subtle gradient to the cells */
.cell {
    background-image: linear-gradient(to bottom right, #EEE, #DDD);
}

/* Add some hover effects */
.cell:empty:hover {
    background-image: linear-gradient(to bottom right, #EEE, #BBB);

    cursor: pointer;
}


/* START FORM */

/* CSS for the start game form */
.start-form, .game-over {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 4px #CCC;
    background-color: #FFF;
  }

  
  .start-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .start-form label {
    margin: 10px 0;
  }

  .input-group{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .label {
    margin: 10px;
  }

  #enter-name-title{
    margin-bottom: 10px;
    margin-top:0px;
  }
  
  .start-form input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCC;
    box-shadow: inset 2px 2px 4px #CCC;
    margin-top: 5px;
  }
  
  .start-form input[type="submit"], .game-over input[type="submit"] {
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #6B0E6E;
    color: #FFF;
    border: none;
    box-shadow: 2px 2px 4px #6B0E6E;
    cursor: pointer;
    
  }
  
  .form-off{
    display: none
  }